$font-size: 16px;
$font-size-sm: 14px;
$font-famile: "Roboto", sans-serif;
$gap: 30px;

$color-black: #000000;
$color-primary: #34547a;
$color-secondary: #727272;
$color-gray-light: #eeeff1;
$color-light: #f9f9f9;
$color-white: #ffffff;



$letter-spacing: 0.1rem;
$line-height-normal: 1.2;
$line-height-large: 1.65;
$container-primary: 1110px;
$container-sm: 540px;
$gap: 20px;
$gap-lg: calc($gap * 2);
$gap-sm: calc($gap * 0.5);
$gap-item: 45px;