@use "../../presets" as *;

body,html {
    margin: 0;
    height: 100%;
}

header {
    height: 100%;
}

.header {
    height: 100%;


    &::after {
        content: "";
        background: url('.../../../images/main_house.jpg') no-repeat;
        background-size: cover;
         min-height: 919px;
        opacity: 0.7;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;
    }

    &__section {
        grid-column: 1;
        grid-row: 1;
        width: 100%;
        display: flex;
        background-color: $color-white;
        max-height: 13%;
        padding: 1.2%;

        &.active {
            max-height: 26%;
        }
    }


    &__logo {
        margin-top: 15px;
        margin-left: 10%;

        // @media screen and (min-width: 480px) {
        //     margin-top: 4%;
        // }

        // @media screen and (min-width: 760px) {
        //     margin-top: 2%;
        // }

        
        // @media screen and (min-width: 960px) {
        //     margin-top: 2%;
        // }
    

        // @media screen and (min-width: 1200px) {
        //     margin-top: 1%;
        // }
    

        .logo__link {
            width: 100%;
            background: url('.../../../images/logo.png') no-repeat ;
            padding: 40px;
            padding-right: 270%;
        }
    }
}

    #popup {
        position: fixed;
        display: none;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 400px;
        height: 400px;
        padding: 4% 4%;
        border-radius: 20px;
        -webkit-box-shadow: 11px 4px 13px -3px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 11px 4px 13px -3px rgba(0, 0, 0, 0.75);
        box-shadow: 11px 4px 13px -3px rgba(0, 0, 0, 0.75);
        z-index: 1;

        &::after {
            content: "";
            border-radius: 20px;
            background-color: rgb(255, 196, 0);
            opacity: 0.8;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            position: absolute;
            z-index: -1;
        }
    }

    #cross {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 20px;
        height: 20px;

    }

    #cross::before {
        transform: rotate(45deg);
    }
    #cross::after {
        transform: rotate(-45deg);
    }

    #cross::before, #cross::after {
        position: absolute;
        top: 0;
        right: 9px;
        content: "";
        width: 3px;
        height: 24px;
        background-color: rgb(255, 255, 255);
        z-index: 2;
        cursor: pointer;
    }
    

    #name, #email, #number {
        width: 100%;
        margin-bottom: 4%;
        padding: 3%;
        border: 2px solid $color-black;
        border-radius: 10px;

        &:active {
            border: 2px solid $color-white;
        }
    }

    #send {
        width: 100%;
        margin-top: 15%;
        padding: 6%;
        border: 2px solid $color-black;
        border-radius: 15px;

        &:hover {
            background-color: $color-black;
            color: $color-white;
        }
    }

